<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Grasse - Fragancia en crema</title>
</head>
    <body>

        <header>
            <%- include ('./partials/header.ejs') %>
            <section>
                <section class="contenedor">
                    <a href="/#tienda"><img class="banner" src="/images/banner-texto2.png" alt=""></a>
                    <div class="bloque-texto">
                        <p class="animation">
                            REAFIRMAMOS TÚ IDENTIDAD A TRAVÉS DE NUESTROS PRODUCTOS CON FRAGANCIAS DE PERFUMERÍA COMERCIAL  -  MÁS DE 200 REFERENCIAS DISPONIBLES.
                        </p>
                    </div>
                </section>
            </section>
        </header>
        
        <main>

            
            <article class="pre-menu">
                
                <section class="cremas">
                    
                    <div class="texto">

                        <h3>Cremas Hidratantes y Nutritivas con Fragancia de Perfume</h3>
                        
                        <p>*Más de 200 referencias.</p>

                        <a href="/#tienda">VER TIENDA</a>

                    </div>

                    <div class="imagenes">
                        <a href="/#tienda">
                            <img class="productos"src="/images/conjunto-cremas.png" alt="">
                        </a>
                    </div>

                </section>

                <section class="perfumes">

                    <div class="texto">

                        <h3>Perfumes de Alta Duración</h3>
                        
                        <p>*Más de 200 referencias.</p>

                        <a href="#tienda">VER TIENDA</a>

                    </div>

                    <div class="imagenes">
                        <a href="#tienda">
                            <img class="productos"src="/images/conjunto-perfumes.png" alt="">
                        </a>
                    </div>

                </section>
            </article>

            
            <article class="middle-menu">
               <h2>Conoce como nuestras cremas Grasse ayudan a tu piel</h2>
                <section class="beneficios">
                    <img class="img-beneficios" src="/images/Beneficios.png" alt="">
                    <img class="img-beneficios-mobile" src="/images/Beneficios-mobile.png" alt="">
                </section>
                
            </article>

            <section id=tienda>
                <h3 class="title-tienda">TIENDA</h3>
                <div class="navbar-tienda">
                    <ul>
                        <li><button class="todos-store">TODOS</button></li>
                        <li><button class="cremas-store">CREMAS</button></li>
                        <li><button class="perfumes-store">PERFUMES</button></li>
                        <li><button class="kits-store">KITS</button></li>
                    </ul>
                </div>    
            </section>
            <section class="contenedor-store">
                <div class="products-store">
                    <article class="caja-tienda">
                        
                        <% if (products.length > 0) { %>
                            
                                <% products.forEach(element => { %> 
                                    <%- include('./partials/product.ejs',{element:element})  %> 
                                <% }) %>
                            
                        <% } else { %>
                            <h2> 
                                No hay productos
                            </h2>
                        <% } %>
                        
                    </article>

            <% let crema = products.filter(e => e.category_id === 1); if(crema.length > 0){ %> 
                <section id=tienda >
                    <h3 class="title-tienda">Cremas</h3>
                </section>
            <article class="caja-tienda-cremas">
                        <% crema.forEach(element => { %> 
                            <%- include('./partials/product.ejs',{element:element})  %> 
                        <% }) %>
            </article>
            <% } %>

            <% let perfumes = products.filter(e => e.category_id == 2); if(perfumes.length > 0){ %> 
                <section id=tienda >
                    <h3 class="title-tienda">Perfumes</h3>
                </section>
            <article class="caja-tienda-perfumes">
                        <% perfumes.forEach(element => { %> 
                            <%- include('./partials/product.ejs',{element:element})  %> 
                        <% }) %>
            </article>
            <% } %>

            <% let kits = products.filter(e => e.category_id == 3); if(kits.length > 0){ %> 
                <section id=tienda >
                    <h3 class="title-tienda">Kits</h3>
                </section>
            <article class="caja-tienda-kits">
                <% kits.forEach(element => { %> 
                    <%- include('./partials/product.ejs',{element:element})  %> 
                <% }) %>
            </article>
            <% } %>


            <section class="section-catalogo">
                <div class="caja-catalogo">
                    <a href="https://drive.google.com/file/d/1u3ROkwFHR1cQQgaunmGLwZ4s1nydGG2H/view?usp=sharing" target="_blank">Catálogo de fragancias disponibles</a>
                </div>
            </section>




            <article class="testimonio">
                <section>
                   
                    <div class="barra-testimonio">
                       <a href="/testimonios">TESTIMONIOS</a> 
                    </div>

                    <div class="imagenes-testimonios">
                        <img class="turquia" src="/images/turquia-sara.png" alt="">
                        <img class="egipto" src="/images/egipto-valentina.png" alt="">
                    </div>

                    <div class="bloque-texto">

                        <p class="animation">
                            REAFIRMAMOS TÚ IDENTIDAD A TRAVÉS DE NUESTROS PRODUCTOS CON FRAGANCIAS DE PERFUMERÍA COMERCIAL  -  MÁS DE 300 REFERENCIAS DISPONIBLES.
                        </p>

                    </div>
                </section>
            </article>

        </main>
        <%- include ('./partials/footer.ejs') %> 

        <!-- Movimiento de categorias Store -->
        <script src="/movimientoStore.js"></script>
    </body>
</html>
