<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Detalle del producto - Crema 280g</title>    
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>

        <% if(product){ %> 
            <article class="detail-box">
                <section class="caja-img-producto">
                    <img class="img-producto" src="<%= product.img %> " alt="">
                </section>

                <section class="info-producto">
                    <div class="bloque-info-1">
                        <p class="title-product"><%= product.name %> </p>
                        <p class="precio-producto"><%= product.price %> </p>
                    </div>
                    <div class="bloque-info-1">
                        <p class="precio-product"><%= product.description %> </p>
                    </div>
                    <div class="bloque-info-2">

                        <div class="selector-marca">
                            <label class="marca" for="marca">Marca:</label>
                            <select name="marca" id="marca">
                            </select>

                        </div>

                        <div class="selector-referencia">
                            <label class="referencia" for="referencia">Referencia:</label>
                            <select name="referencia" id="referencia">
                            </select>
                        </div>
                    </div>
                    <section class="cart-block">
                        <div class="go-cart">
                            <a href="/carrito">
                                <button type="submit" class='go-cart'>Agregar al carrito</button>
                            </a>
                        </div>
                    </section>    
                    <div class="low-info">
                        <p>Hecho en Colombia</p>
                    </div>

                    <% if (locals.isLogged && locals.userLogged.email.includes("@grasse.com.co")) { %>
                        <section class="cart-block">
                            <div class="go-cart">
                                <a href="/home/detail/edit/<%=product.id%>">
                                    <button type="submit" class='go-cart'>Editar Producto</button>
                                </a>
                            </div>
                        </section> 
                        <section class="cart-block">
                            <form action="/detail/remove?m=DELETE" method="post">
                                <input type="hidden" name="id" value="<%= product.id %> ">
                                <button type="submit" class='go-cart'>Eliminar Producto</button>
                            </form>
                        </section> 
                    <% } %> 
                </section>
            </article>   
        <% }else{%>
            <section>
                <h2>No se encontro el producto</h2>
            </section>
        <% } %> 

    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>