<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Log in - Grasse </title>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <section class="form">
            <form method="POST" action="/login" class="login-form">
                <h2 class="copy-login-form"> ¡Hola! Para seguir, ingresa tu email y contraseña </h2>
                <div>
                   <input type="text" name="email" id="email" class="login" placeholder="Ingresa tu email">
                <% if (locals.errors && locals.errors.email){ %>

                    <p class="error">
                        <%= locals.errors.email.msg %>
                    </p>

                <% } %>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="login" placeholder="Contraseña">
                    <% if (locals.errors && locals.errors.password){ %>

                        <p class="error">
                            <%= locals.errors.password.msg %>
                        </p>
    
                    <% } %>    
                </div>
                <button type="submit" class="button-login">Enviar</button>
                <a href="/register"><button type="button" class="button-create">Crear Cuenta</button></a>
           </form>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>