<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Registro de usuario - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    <main>
        <section class="form">
            <form action="/Registro" method="POST" class="login-form" enctype="multipart/form-data">
                <h2 class="copy-login-form"> Crear Cuenta </h2>
                <div>
                   <input type="text" name="name" id="name" class="login" placeholder="Nombre" value="<%= locals.errors && !locals.errors.name && locals.data ? locals.data.name : null %>">
                   <% if (locals.errors && locals.errors.name){ %>

                    <p class="error">
                        <%= locals.errors.name.msg %>
                    </p>

                   <% } %>
                </div>
                <div>
                    <input type="text" name="surname" id="surname" class="login" placeholder="Apellido" value="<%= locals.errors && !locals.errors.surname && locals.data ? locals.data.surname : null %>" >
                    <% if (locals.errors && locals.errors.surname){ %>

                        <p class="error">
                            <%= locals.errors.surname.msg %>
                        </p>
    
                    <% } %>
                 </div>
                <div>
                    <input type="text" name="email" id="email" class="login" placeholder="Correo electronico" value="<%= locals.errors && !locals.errors.email && locals.data ? locals.data.email : null %>">
                    <% if (locals.errors && locals.errors.email){ %>

                        <p class="error">
                            <%= locals.errors.email.msg %>
                        </p>
    
                    <% } %>
                </div>
                <div class="input-form-text">
                    <div class="password-eye">
                        <input type="password" name="password" id="contrase" class="login" placeholder="Contraseña">
                        <span class="ojitos" onclick="mostrarContra()">
                            <i id="ocultar" class="fa fa-eye" title="Ocultar contraseña"></i>
                            <i id="mostrar" class="fa fa-eye-slash" title="Mostrar contraseña"></i>
                        </span>
                    </div>
                    <% if (locals.errors && locals.errors.password){ %>

                        <p class="error">
                            <%= locals.errors.password.msg %>
                        </p>
    
                    <% } %>               
                </div>
                <div>
                    <label for="">Foto de perfil:</label>
                    <input type="file" name="img" id="img" class="login">
                    <% if (locals.errors && locals.errors.img){ %>

                        <p class="error">
                            <%= locals.errors.img.msg %>
                        </p>    
                    <% } %>
                </div>
                <button type="submit" class="button-login">Enviar</button>
                <div>
                    <p class="preg-form">¿Ya tienes una cuenta? <a href="/login">iniciar sesion</a></p>
                </div>
           </form>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %> 

    <!-- js ojo de contraseña-->
    <script>
        function mostrarContra() {
            var x = document.getElementById("contrase");
            var y = document.getElementById("ocultar");
            var z = document.getElementById("mostrar");

            if (x.type =="password") {
                x.type="text";
                y.style.display="block";
                z.style.display="none"
            }else {
                x.type="password";
                y.style.display="none";
                z.style.display="block"
            }
        }
    </script>
</body>
</html>