<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Registro de usuario - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    <main>
        <section class="form">
            <form action="/registro" method="POST" class="login-form" enctype="multipart/form-data">
                <h2 class="copy-login-form"> Crear Cuenta </h2>
                <div>
                   <input type="text" name="name" id="name" class="login" placeholder="Nombre" value="<%= locals.errors && !locals.errors.name && locals.data ? locals.data.name : null %>">
                   <% if (locals.errors && locals.errors.name){ %>

                    <p class="error">
                        <%= locals.errors.name.msg %>
                    </p>

                   <% } %>
                </div>
                <div>
                    <input type="text" name="surname" id="surname" class="login" placeholder="Apellido" value="<%= locals.errors && !locals.errors.surname && locals.data ? locals.data.surname : null %>" >
                    <% if (locals.errors && locals.errors.surname){ %>

                        <p class="error">
                            <%= locals.errors.surname.msg %>
                        </p>
    
                    <% } %>
                 </div>
                <div>
                    <input type="text" name="email" id="email" class="login" placeholder="Correo electronico" value="<%= locals.errors && !locals.errors.email && locals.data ? locals.data.email : null %>">
                    <% if (locals.errors && locals.errors.email){ %>

                        <p class="error">
                            <%= locals.errors.email.msg %>
                        </p>
    
                    <% } %>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="login" placeholder="Contraseña">
                    <% if (locals.errors && locals.errors.password){ %>

                        <p class="error">
                            <%= locals.errors.password.msg %>
                        </p>
    
                    <% } %>               
                </div>
                <div>
                    <input type="file" name="img" id="img" class="login">
                    <% if (locals.errors && locals.errors.img){ %>

                        <p class="error">
                            <%= locals.errors.img.msg %>
                        </p>    
                    <% } %>
                </div>
                <button type="submit" class="button-login">Enviar</button>
                <div>
                    <p class="preg-form">¿Ya tienes una cuenta? <a href="/login">iniciar sesion</a></p>
                </div>
           </form>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>