<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Registro de usuario - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    <main>
        <section class="form">
            <form action="/register" method="POST" class="login-form" enctype="multipart/form-data">
                <h2 class="copy-login-form"> Crear Cuenta </h2>
                <div>
                   <input type="text" name="nombre" id="nombre" class="login" placeholder="Nombre">
                   <% if (locals.errors && locals.errors.nombre){ %>

                    <p class="error">
                        <%= locals.errors.nombre.msg %>
                    </p>

                   <% } %>
                </div>
                <div>
                    <input type="text" name="apellido" id="apellido" class="login" placeholder="Apellido">
                    <% if (locals.errors && locals.errors.apellido){ %>

                        <p class="error">
                            <%= locals.errors.apellido.msg %>
                        </p>
    
                    <% } %>
                 </div>
                <div>
                    <input type="text" name="email" id="email" class="login" placeholder="Correo electronico">
                    <% if (locals.errors && locals.errors.email){ %>

                        <p class="error">
                            <%= locals.errors.email.msg %>
                        </p>
    
                    <% } %>
                </div>
                <div>
                    <select name="userType" id="userType" class="login" >
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="login" placeholder="Contraseña">
                    <% if (locals.errors && locals.errors.password){ %>

                        <p class="error">
                            <%= locals.errors.password.msg %>
                        </p>
    
                    <% } %>               
                </div>
                <div>
                    <input type="file" name="users" id="users" class="login">
                </div>
                <button type="submit" class="button-login">Enviar</button>
                <div>
                    <p class="preg-form">¿Ya tienes una cuenta? <a href="/login">iniciar sesion</a></p>
                </div>
           </form>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>