<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Edicion de Productos - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <section class="form">
            <form action="/detalle/editar/:product?m=PUT" method="post"class='login-form editProductForm'>
                <h2 class="copy-login-form">Edicion del Producto: <%=product.name%> </h2>

                <label for="name" class="label-forms">Nombre del producto</label>
                <input type="text" autocomplete="off" name="name" id="name" value="<%= product.name %> " class="login campoNombreProd">
                <div class="error errorCampoNombreProd"></div>

                <label for="description" class="label-forms">Descripción</label>
                <input type="text" autocomplete="off" name="description" id="description" value="<%= product.description %> " class="login campoDescriptionProd">
                <div class="error errorCampoDescriptionProd"></div>

                <label for="image" class="label-forms">Imagen</label>
                <input type="file" autocomplete="off" name="image" id="image" class="login campoImgProd" value="<%= product.img %>">
                <i class="fa-solid fa-check" id="checked"></i>
                <div class="error errorImg">Elija la nueva imagen del producto</div>

                <label for="price" class="label-forms">Precio</label>
                <input type="number" autocomplete="off" name="price" id="price" value="<%= product.price %>" class="login campoPrecioProd">
                <div class="error errorPrecioProd"></div>
                

                <input type="hidden" name="id" value="<%= product.id %> ">

                <button type="submit" class="button-login">Enviar</button>
            </form>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
<script src="/editProductValidations.js"></script>
</html>